div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color: rgb(255, 255, 255);
  background-color:rgb(255, 227, 68);
  padding:8px;
  border-color:rgb(255, 94, 0);
  border-style: solid;
  border-width: 3px;
}

 div#Header {
  position:fixed;
  top:0px;
  left:0px;
  text-align: left;
  width:100%;
  background:rgb(255, 227, 68);
  padding:15px;
  padding-left: 35px;
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 50px;
  border-color:rgb(255, 94, 0);
  border-style: solid;
  border-width: 3px;
 }

h1 {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color:rgb(247, 118, 43);
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

main {
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  background:rgb(255, 227, 68);
  padding: 35px;
  border-radius: 5px;
  border-color:rgb(255, 94, 0);
  border-style: solid;
  border-width: 3px;
}

.btn {
  background:rgb(255, 94, 0);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-color:rgb(255, 255, 255);
  border-style: double;
  border-width: 1px;
}

.navLink {
  font-size: 15pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(0, 0, 0);
}

.navbar-brand{
font-size: 20pt;
color:rgb(0, 0, 0);

}