@{
  Layout = "_Layout";
}

@using SweetAndSavory.ViewModels

@model LoginViewModel

<h2>Please Log in to your account:</h2>
<hr />
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input id="btn" type="submit" value="Log in" required />
}