@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h4>Add a new Flavor</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input id="button" type="submit" value="Add new flavor" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>